<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Remotion.Development.UnitTesting.PrivateInvoke.Sources" version="1.15.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="Remotion.Development.UnitTesting.Serializer.Sources" version="1.15.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="Remotion.JetBrains.Annotations.Sources" version="1.15.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="Remotion.Utilities.ArgumentUtility.Sources" version="1.15.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="Remotion.Utilities.ExceptionUtility.Sources" version="1.15.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="Remotion.Utilities.NullableTypeUtility.Sources" version="1.15.23.0" targetFramework="net45" developmentDependency="true" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
</packages>